@model Gas.WebApp.Models.BaseModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-items"
                    aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-items">
                    <ul class="navbar-nav me-auto">
                        @if (Model.SelectedDevice == null)
                        {
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Device")">Status</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Device")">Schedule</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link"
                                href="@Url.Action("Index", "DeviceStatus", new {deviceId = Model.SelectedDevice.Id})">Status</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="scheduleMenu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Schedule</a>
                                <ul class="dropdown-menu" aria-labelledby="scheduleMenu">
                                    @foreach (var scheduleId in Enumerable.Range(0, Model.SelectedDevice.SchedulesCount))
                                    {
                                        <li><a class="dropdown-item"
                                        href="@Url.Action("Index", "DeviceSchedule", new {deviceId = Model.SelectedDevice.Id, scheduleId})">Schedule
                                                @scheduleId</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class=" dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle" id="deviceSelect" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            @(Model.SelectedDevice?.Id == null ? "Devices" : Model.SelectedDevice.Name)
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="deviceSelect">
                            @foreach (var device in Model.UserDevices)
                            {
                                <li><a class="dropdown-item"
                                    href="@Url.Action("Index", "DeviceStatus", new {deviceId = device.Id})">@device.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
